Vagrant.configure("2") do |config|

  config.vm.define :stagehand do |box|

    local_path  = "/path/to/my/project"
    local_port  = 8090

    host_name    = "mybox"
    host_address = "10.100.12.101"

    box.vm.box      = "mybox"
    box.vm.box_url  = "http://puppet-vagrant-boxes.puppetlabs.com/debian-70rc1-x64-vbox4210.box"

    box.vm.network :private_network, ip: host_address
    box.ssh.forward_agent = true

    box.vm.hostname = host_name

    box.vm.provider :virtualbox do |v|
      v.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
      v.customize ["modifyvm", :id, "--memory", 512]
      v.customize ["modifyvm", :id, "--name", host_name]
    end

    nfs_setting = RUBY_PLATFORM =~ /darwin/ || RUBY_PLATFORM =~ /linux/
    box.vm.synced_folder local_path, "/var/www/#{host_name}.dev", id: "vagrant-root" , :nfs => nfs_setting
    box.vm.network :forwarded_port, guest: 80, host: local_port

    box.vm.provision :shell, :inline =>
      "if [[ ! -f /apt-get-run ]]; then sudo apt-get update && sudo touch /apt-get-run; fi"

    box.vm.provision :puppet do |puppet|
      puppet.manifests_path = "manifests"
      puppet.module_path = "modules"
      puppet.options = ['--verbose']
    end

  end

end
